li:hover {
	background-color:#87CEEB!important;
}

.addlistbtn {
  /*background-color: #4CAF50;*/
  border-radius: 25px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
  
.is-default-bgcolor {
	background-color: #333; !important; 
	color:#fff!important;
}







